@media (max-width: 880px) {
    .filter {
        flex-direction: column;
        gap: 20px;
    }

    .search {
        height: 60px;
    }

    .search input {
        width: 100%;
    }

    .region {
        width: 185px;
    }
}

@media (max-width: 580px) {
    section {
        margin: 0px 20px;
    }
}